.toggler {
	@media screen and (min-width: 640px) {
		max-width: 60%;
	}

	@media screen and (min-width: 1280px) {
		max-width: 50%;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 50%;
		background-color: var(--dark-color);
		transition: all 0.4s linear;
		pointer-events: none;
	}
}

.toggler__button {
	z-index: 1;
	padding-block: 0.625rem;
	flex: 1 0 50%;
	transition: color 0.4s;

	&:not(:disabled):focus-visible {
		border-color: transparent;
	}

	@media (hover: hover) {
		&:not(:disabled):hover {
			border-color: transparent;
		}
	}

	@media (hover: none) {
		&:not(:disabled):active {
			border-color: transparent;
		}
	}
}

.toggler_email {
	&::before {
		left: 50%;
	}
}
