.tabs_services {
	grid-template-rows: auto minmax(auto, 640px);

	@media screen and (min-width: 1280px) {
		grid-template-columns: auto 66.66%;
		grid-template-rows: auto;
	}
}

.tabs_team {
	@media screen and (min-width: 1280px) {
		grid-template-columns: auto 1fr;
	}
}
.tabButton_active:global(.animatedUnderline) {
	background-size: 100% 1px;
}
