.about {
	@media screen and (width >= 1280px) {
		grid-template-columns: 61.3% auto;
		grid-template-rows: auto 1fr;
	}
}

.question {
	font-size: 2rem;

	@media screen and (width >= 768px) {
		font-size: 2.5rem;
	}
}
