.SocialLinks-icon_Instagram {
	background-image: url(../../../assets/img/icons/instagram.svg);
}
.SocialLinks-icon_Twitter {
	background-image: url(../../../assets/img/icons/twitter.svg);
}
.SocialLinks-icon_Linkedin {
	background-image: url(../../../assets/img/icons/linkedin.svg);
}
