.teamWrapper {
	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: calc(100vw - 100%);
		background: rgb(245 245 245);
		pointer-events: none;
	}

	&::before {
		transform: translateX(-100%);
	}

	&::after {
		right: 0;
		transform: translateX(100%);
	}
}
