.dialogWrapper {
	z-index: 100;
}

.backdrop {
	background-color: rgba(23, 23, 23, 0.5);
}

.dialog {
	z-index: 95;
	max-height: 85vh;
	max-width: 90%;

	display: flex;
}

.dialog__content {
	max-height: 100%;
	grid-template-rows: minmax(100px, 1fr) auto;
}

html:has(.dialog) {
	background-color: rgba(23, 23, 23, 0.5);
	overflow-y: hidden;
}

@media (min-width: 640px) {
	.dialog {
		max-width: 66%;
	}
}
